__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
.env/
ENV/
env/

.env

instance/
.webassets-cache

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/

.vscode/

.idea/

.DS_Store

*~

docker-data/
*.pid

dump.rdb
appendonly.aof

*.log

gunicorn.pid


build/
dist/
*.egg-info/

.ipynb_checkpoints/